<!DOCTYPE html>
<html>
  <head>
    <title>Community Cards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% switch(publicGame.state){case '': %>
    <% case 'initial': %>
    <dir class="cards">
    </dir>
    <dir class="buttons">
      <a href="?state=preflop">Start Game</a>
    </div>
    <% break; %>
    <% case 'preflop': %>
    <dir class="cards">
    </dir>
    <dir class="buttons">
      <a href="?state=preflop">Restart</a>
      <a href="?state=flop">See flop</a>
    </div>
    <% break; %>
    <% case 'flop': %>
    <dir class="cards">
      <p><%- publicGame.cards[0] %>
      <p><%- publicGame.cards[1] %>
      <p><%- publicGame.cards[2] %>
    </dir>
    <dir class="buttons">
      <a href="?state=preflop">Restart</a>
      <a href="?state=turn">Turn</a>
    </div>
    <% break; %>
    <% case 'turn': %>
    <dir class="cards">
      <p><%- publicGame.cards[0] %>
      <p><%- publicGame.cards[1] %>
      <p><%- publicGame.cards[2] %>
      <p><%- publicGame.cards[3] %>
    </div>
    <dir class="buttons">
      <a href="?state=preflop">Restart</a>
      <a href="?state=river">River</a>
    </div>
    <% break; %>
    <% case 'river': %>
    <dir class="cards">
      <p><%- publicGame.cards[0] %>
      <p><%- publicGame.cards[1] %>
      <p><%- publicGame.cards[2] %>
      <p><%- publicGame.cards[3] %>
      <p><%- publicGame.cards[4] %>
    </div>
    <dir class="buttons">
      <a href="?state=preflop">Restart</a>
    </div>
    <% break; %>
    <% } %>
    <!-- <%= debug %> -->
  </body>
</html>
